<div class="center jumbotron mt-5 mb-4">
  <div class="container">
    <p class="lead" style="background-color: #f8f8f8; padding: 10px;"><%= current_user.email %></p>
      <h4 class="display-6"> Users </h4>
    <%= render @users %>
    <h4 class="display-6"> Rooms </h4>
    <%= render @rooms %>
    </div>
  </div>

