<div class="center jumbotron mt-5 mb-4">
  <div class="container">
    <div class="center">
     <h3 class="display-4">
       <small class="text-muted">HotChatter For People Who Chat A Lot!</small>
     </h3>
      <p class="lead">
          Awesome Rails 7 Chat Machine for Incessant Chatterers with Membership Roles and a Stalking Mode!</p>
    </div>
   </div>
</div>
<section id="home" class="intro-section">
  <div class="container">
    <div class="row align-items-center text-dark">
      <!-- START THE CONTENT FOR THE INTRO  -->
      <div class="col-md-12 intros text-center">
       <%= link_to image_tag('bubble-icon.webp', class: "img-fluid mb-5", alt: "Hotchat", :size => '600x518') %>
        <%= link_to "Sign Up To Chat", new_user_registration_path, class: "btn btn-outline-primary btn-rounded btn-lg mt-5" %>
      </div>
    </div>
  </div>
 </section>
